<launch>

    <!-- Launching the move_base node for navigation -->

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

        <!-- Load costmap configurations for the global and local costmaps -->
        <rosparam file="$(find scout_exploration)/cfg/costmap_common.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find scout_exploration)/cfg/costmap_common.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find scout_exploration)/cfg/costmap_local.yaml" command="load" />
        <rosparam file="$(find scout_exploration)/cfg/costmap_global.yaml" command="load" />
    
        <!-- Load parameters for the base local planner -->
        <rosparam file="$(find scout_exploration)/cfg/base_local_planner_params.yaml" command="load" />

    </node>

    <!-- Include the scout_robot_base.launch file for robot-specific configurations -->
    <include file="$(find scout_bringup)/launch/scout_robot_base.launch"/>

</launch>
